@model DarkGalaxy_Model.AdminInformation

@{
    ViewBag.Title = "编辑管理员个人资料";
    Layout = "~/Views/Shared/_TabLayout.cshtml";
}

@using (Ajax.BeginForm("Edit", "AdminInfo", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "Success",
}, new
{
    @class = "layui-form layui-form-pane"
}))
{
    <!-- 个人资料 -->
    <fieldset class="layui-elem-field layui-field-title dgalaxy-title">
        <legend>个人资料</legend>
    </fieldset>
    <input id="ID" name="ID" type="hidden" value="@Model.ID" />
    <div class="layui-form-item">
        <label class="layui-form-label">头像</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <div id="ImageUp" class="layui-upload-drag">
                    <i class="layui-icon">&#xe67c;</i>
                    <p>点击上传，或将文件拖拽到此处</p>
                </div>
            </div>
            <p id="errorText"></p>
            <div id="UpImage" class="layui-upload-list">
                <img id="Image" class="layui-upload-img dgalaxy-portrait" src="@Model.PicturePath">
            </div>
            <input id="PicturePath" name="PicturePath" type="hidden" value="@Model.PicturePath" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-block">
            <input name="NickName" class="layui-input" type="text" placeholder="请输入管理员昵称" autocomplete="off" value="@Model.NickName">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <select name="Gender" lay-verify="required">
                <option value="2">保密</option>
                <option value="1">男</option>
                <option value="0">女</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出生日期</label>
        @{
            string Birthdate = "";
            if (null != Model.Birthdate)
            {
                Birthdate = ((DateTime)Model.Birthdate).ToString("yyyy-MM-dd");
            }
            else { }
        }
        <div class="layui-input-block">
            <input id="Birthdate" name="Birthdate" class="layui-input" type="text" placeholder="请输入管理员出生日期" autocomplete="off" value="@Birthdate">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">个性签名</label>
        <div class="layui-input-block">
            <textarea name="Description" class="layui-textarea" placeholder="请输入管理员个性签名">@Model.Description</textarea>
        </div>
    </div>
    <div class="layui-form-item text-center">
        <button class="layui-btn" lay-filter="Save" lay-submit="">保存</button>
        <button class="layui-btn layui-btn-primary" type="reset">重置</button>
    </div>
}

@section Foot
{
    <!-- 初始化基本信息 -->
    <script>
        //初始化下拉列表选中值
        $(function () {
            $('#Gender').val('@Convert.ToInt32(Model.Gender)');
        });
    </script>
    <!-- layui -->
    <script>
        //加载表单
        layui.use(['form', 'laydate', 'upload'], function () {
            var $ = layui.jquery,
                form = layui.form,
                upload = layui.upload,
                laydate = layui.laydate;

            //加载时间选择
            laydate.render({
                elem: '#Birthdate'
            });

            //上传图片
            var uploadInst = upload.render({
                elem: '#ImageUp',
                url: '@Url.Action("UploadTempImage", "Upload")',
                accept: 'images',
                auto: true,
                size: 2048,
                choose: function (obj) {
                    //预读本地文件（不支持ie8）
                    obj.preview(function (index, file, result) {
                        $('#Image').attr('src', result); //图片链接（base64）
                    });
                },
                done: function (res) {
                    if (200 != res.Code) {
                        return layer.msg(res.Message);
                    }
                    else {
                        $('#PicturePath').val(res.Data);
                        $('#Image').attr('src', res.Data);
                        return layer.msg(res.Message);
                    }
                },
                error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#errorText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });

            //图片标题查看
            layer.photos({
                photos: '#UpImage',
                anim: 0 //0-6的选择，指定弹出图片动画类型
            });
        });
    </script>
    <!-- 表单异步提交 -->
    <script>
        function Success(data) {
            layui.use('layer', function () {
                //弹出提示消息
                layer.open({
                    type: 0,
                    title: '提示信息',
                    content: data.Message,
                    time: 5000,
                    resize: false,
                    end: function () {
                        if (200 == data.Code) {
                            //关闭父级弹出层
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }
                        else { }
                    }
                });
            });
        }
    </script>
}
