@{
    ViewBag.Title = "管理员用户";
    Layout = "~/Views/Shared/_TabLayout.cshtml";
}

<!-- 主体工具栏 -->
<div class="layui-row layui-elem-quote dgalaxy-tab-tool">
    <div class="layui-inline dgalaxy-search-box">
        <input id="Search" class="layui-input" placeholder="请输入帐号" autocomplete="off">
    </div>
    <button id="SearchButton" class="layui-btn layui-btn-normal" data-type="Search">
        <i class="layui-icon">&#xe615;</i>&nbsp;搜索
    </button>
    <button id="Create" class="layui-btn">
        <i class="layui-icon">&#xe61f;</i>&nbsp;新建
    </button>
    <button id="BatchRemove" class="layui-btn layui-btn-danger" data-type="BatchRemove">
        <i class="layui-icon">&#xe640;</i>&nbsp;删除选中项
    </button>
    <button id="Refresh" class="layui-btn layui-btn-warm">
        <i class="layui-icon">&#x1002;</i>&nbsp;刷新
    </button>
</div>

<!-- 主体表格 -->
<table id="Table" lay-filter="Table"></table>

@section Foot
{
    <!-- layui -->
    <script>
        layui.use(['layer', 'table'], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                table = layui.table,
                active = {
                    Search: function () {//数据表格重载（搜索）
                        table.reload('DataTable', {
                            where: {
                                Search: $('#Search').val()
                            }
                        });
                    },
                    BatchRemove: function () {//数据表格删除选中数据
                        var checkStatus = table.checkStatus('DataTable'),
                            datas = checkStatus.data;
                        if (0 == datas.length) {
                            layer.open({
                                type: 0,
                                title: '提示信息',
                                content: "请选择数据",
                                time: 5000,
                                resize: false
                            });
                        }
                        else {
                            var batchIDArray = [];
                            for (var i = 0; i < datas.length; i++) {
                                batchIDArray.push(datas[i].ID);
                            }
                            //批量删除
                            $.post('@Url.Action("BatchDelete", "AdminAccount")', { BatchIDArray: batchIDArray }, function (data) {
                                //提示消息
                                layer.open({
                                    type: 0,
                                    title: '提示信息',
                                    content: data.Message,
                                    time: 5000,
                                    resize: false,
                                    end: function () {
                                        if (200 == data.Code) {
                                            //重载表格
                                            table.reload('DataTable', {
                                            });
                                        }
                                        else { }
                                    }
                                });
                             });
                        }
                    }
                };

            /*数据表格加载*/
            table.render({
                id: 'DataTable',
                elem: '#Table',
                height: 'full-120',
                cols: [[
                    { fixed: 'left',checkbox: true },
                    { fixed: 'left', field: 'ID', title: 'ID', width: 70, align: 'center'},
                    { field: 'UserName', title: '帐号', align: 'center' },
                    { field: 'CreateDateTime', title: '创建时间', minWidth: 150, align: 'center',templet: '#CreateDateTime', sort: true },
                    { fixed: 'right', title: '操作', minWidth: 250, align: 'center', toolbar: '#Tools' }
                ]],
                url: '@Url.Action("IndexJson", "AdminAccount")',
                method: 'POST',
                request: {
                    pageName: 'Page', //页码的参数名称
                    limitName: 'PageSize' //每页数据量的参数名
                },
                response: {
                    statusName: 'Code',
                    statusCode: 200, //成功的状态码
                    msgName: 'Message', //状态信息的字段名称
                    countName: 'Total', //数据总数的字段名称
                    dataName: 'Datas' //数据列表的字段名称
                },
                page: true,
                limits: [5, 10, 15, 20, 30],
                limit: 15,
                initSort: {
                    field: 'CreateDateTime', //排序字段，对应 cols 设定的各字段名
                    type: 'asc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
                }
            });

            /*弹出新建页面*/
            $('#Create').live('click', function () {
                layer.open({
                    id: 'CreateAdminAccount',
                    type: 2,
                    title: '新建',
                    content: '@Url.Action("Create", "AdminAccount")',
                    anim: 1,
                    shadeClose: true,
                    shade: 0.8,
                    resize: false,
                    area: ['90%', '90%']
                });
            });

            /*表格搜索*/
            $('#SearchButton').live('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            /*批量删除*/
            $('#BatchRemove').live('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            /*工具条监听*/
            table.on('tool(Table)', function (obj) {
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                if (layEvent === 'detailsAdmininfo') { //查看
                    layer.open({
                        id: 'DetailsUserInfo',
                        type: 2,
                        title: '个人资料',
                        content: '@Url.Action("Details", "AdminInfo")' + '?ID=' + data.ID,
                        anim: 1,
                        shadeClose: true,
                        shade: 0.8,
                        resize: false,
                        area: ['90%', '90%']
                    });
                }
                else if (layEvent === 'edit') { //编辑
                    layer.open({
                        id: 'EditAdminAccount',
                        type: 2,
                        title: '编辑',
                        content: '@Url.Action("Edit", "AdminAccount")' + '?ID=' + data.ID,
                        anim: 1,
                        shadeClose: true,
                        shade: 0.8,
                        resize: false,
                        area: ['90%', '90%']
                    });
                }
                else if (layEvent === 'del') { //删除
                    layer.confirm('确认删除?（删除后无法还原）', { icon: 3, title: '提示信息' }, function (index) {
                        $.post('@Url.Action("Delete", "AdminAccount")', { ID: data.ID }, function (data) {
                            layer.open({
                                type: 0,
                                title: '提示信息',
                                content: data.Message,
                                time: 5000,
                                resize: false,
                                end: function () {
                                    if (200 == data.Code) {
                                        obj.del(); //数据同步，并更新缓存
                                    }
                                    else{ }
                                }
                            });
                        });
                    });
                }

            });
        });
    </script>
    <!-- 数据模版 -->
    <script type="text/html" id="CreateDateTime">
        {{ toDate(d.CreateDateTime).pattern("yyyy-MM-dd HH:mm") }}
    </script>
    <!-- 工具栏模版 -->
    <script type="text/html" id="Tools">
        <button class="layui-btn layui-btn-xs" lay-event="detailsAdmininfo"><i class="layui-icon">&#xe63c;</i>个人资料</button>
        <button class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</button>
        <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</button>
    </script>
}