@model DarkGalaxy_Model.Passenger

<div id="PassengerEdit" data-page="passengerEdit" class="page no-tabbar dgalaxy-contacts">
    <!-- 导航区域 -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a class="icon-only back dgalaxy-icon-back" href="@Url.Action("Index","Home")">
                    <i class="f7-icons">chevron_left</i>
                </a>
            </div>
            <div class="center dgalaxy-title">编辑旅客</div>
        </div>
    </div>

    <!-- 页面主体区域 -->
    <div class="page-content">
        <form id="PassengerEditForm" class="ajax-submit dgalaxy-form-contacts" method="post" action="@Url.Action("Edit", "Passenger")">
            <!-- 保存旅客主键信息 -->
            <input id="ID" name="ID" type="hidden" value="@Model.ID" />

            <div class="list-block no-margin">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label dgalaxy-title">姓名</div>
                                <div class="item-input">
                                    <input name="Name" type="text" value="@Model.Name">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label dgalaxy-title">性别</div>
                                <div class="item-input">
                                    @{
                                        int intGender = Convert.ToInt32(Model.Gender);
                                        <select id="Gender" name="Gender" class="dgalaxy-gender">
                                            <option value="">请选择性别</option>
                                            @if (2 == intGender)
                                            {
                                                <option value="2" selected="selected">保密</option>
                                            }
                                            else
                                            {
                                                <option value="2">保密</option>
                                            }
                                            @if (1 == intGender)
                                            {
                                                <option value="1" selected="selected">男</option>
                                            }
                                            else
                                            {
                                                <option value="1">男</option>
                                            }
                                            @if (0 == intGender)
                                            {
                                                <option value="0" selected="selected">女</option>
                                            }
                                            else
                                            {
                                                <option value="0">女</option>
                                            }
                                        </select>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label dgalaxy-title">身份证号</div>
                                <div class="item-input">
                                    <input name="IDCard" type="text" value="@Model.IDCard">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="dgalaxy-btn-submit">
                    <input class="button bg-blue color-white" type="submit" value="保存" />
                </div>
            </div>
        </form>
    </div>
</div>
