@model IEnumerable<DarkGalaxy_UI.Models.ContactsViewModel>

<div id="ContactsChoose" data-page="contactsChoose" class="page no-tabbar dgalaxy-contacts">
    <!-- 导航区域 -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a class="icon-only back dgalaxy-icon-back" href="@Url.Action("Index", "Home")">
                    <i class="f7-icons">chevron_left</i>
                </a>
            </div>
            <div class="center dgalaxy-title">选择联系人</div>
        </div>
    </div>

    <!-- 数据主体区域 -->
    <div class="page-content">
        @if (null != Model)
        {
            foreach (var temp in Model)
            {
                <div class="card dgalaxy-card-contacts" data-name="@temp.ContactsModel.Name" data-phone="@temp.ContactsModel.Phone" data-regions="@temp.ContactsModel.RegionsID" data-detailed-address="@temp.ContactsModel.DetailedAddress" data-address="@temp.RegionText @temp.ContactsModel.DetailedAddress">
                    <div class="card-content dgalaxy-card-center">
                        <div class="dgalaxy-info">
                            <div class="text-line-single dgalaxy-name">@temp.ContactsModel.Name</div>
                            <div class="text-line-single dgalaxy-phone">@temp.ContactsModel.Phone</div>
                            <div class="clear"></div>
                        </div>
                        <div class="text-line-single-2 dgalaxy-address">@temp.RegionText @temp.ContactsModel.DetailedAddress</div>
                    </div>
                </div>
            }
        }
        else
        {
            <!-- 联系人未找到提示 -->
            <div class="dgalaxy-nofound-page">
                <div class="dgalaxy-nofound-text">还没有联系人呢！</div>
            </div>
        }
        <a id="CreateContacts" href="javascript:void(0);">
            <div class="bg-blue color-white dgalaxy-btn-bottom">添加联系人</div>
        </a>
    </div>
</div>

